In [2]:
import pandas as pd
from math import sqrt
from datetime import date as dt

In [3]:
sr = range(2, 50, +3)

label = [chr(96+i%25) for i in sr]

sr=[i+round(sqrt(i), 2) for i in sr]

print(sr)
print(label)

[3.41, 7.24, 10.83, 14.32, 17.740000000000002, 21.12, 24.47, 27.8, 31.1, 34.39, 37.66, 40.92, 44.16, 47.4, 50.63, 53.86]
['b', 'e', 'h', 'k', 'n', 'q', 't', 'w', 'a', 'd', 'g', 'j', 'm', 'p', 's', 'v']

In [4]:
# pd.Series(sr)

In [5]:
siri=pd.Series(sr, index=label)
siri.head()

b     3.41
e     7.24
h    10.83
k    14.32
n    17.74
dtype: float64

In [6]:
siri.apply(lambda x: "$ "+str(round(float(x/3),2)))

b     $ 1.14
e     $ 2.41
h     $ 3.61
k     $ 4.77
n     $ 5.91
q     $ 7.04
t     $ 8.16
w     $ 9.27
a    $ 10.37
d    $ 11.46
g    $ 12.55
j    $ 13.64
m    $ 14.72
p     $ 15.8
s    $ 16.88
v    $ 17.95
dtype: object

In [7]:
day = [(i%31)+1 for i in range(1, 50, 2)]
month  = [(i%12)+1 for i in range(1, 50, 2)]
year = 2019

In [8]:
date = [[dt(year,mm,dd), i ] for dd, mm, i in zip(day, month, range(1, 50, 2))]

In [9]:
import numpy as np

In [10]:
date = np.array(date)

In [11]:
df=pd.DataFrame(date,index=[chr(64+i%26+1) for i in range(1, 50, 2)], columns=["Date", "Labeling"])

In [12]:
df.dtypes

Date        object
Labeling    object
dtype: object

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25 entries, B to X
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      25 non-null     object
 1   Labeling  25 non-null     object
dtypes: object(2)
memory usage: 600.0+ bytes

In [14]:
df.index

Index(['B', 'D', 'F', 'H', 'J', 'L', 'N', 'P', 'R', 'T', 'V', 'X', 'Z', 'B',
       'D', 'F', 'H', 'J', 'L', 'N', 'P', 'R', 'T', 'V', 'X'],
      dtype='object')