zf6urlbe

# Ex1 - Getting and Knowing your Data



### Step 1. Import the necessary libraries

In [2]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset

In [11]:
pd.read_csv("pandas_data.csv")

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Assign it to a variable called a.

In [4]:
a=pd.read_csv("pandas_data.csv",index_col="order_id")
a

,quantity,item_name,choice_description,item_price
order_id,,,,
1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,Izze,[Clementine],$3.39
1,1,Nantucket Nectar,[Apple],$3.39
1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...
1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. See the first 10 entries

In [5]:
a.head(10)

,quantity,item_name,choice_description,item_price
order_id,,,,
1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,Izze,[Clementine],$3.39
1,1,Nantucket Nectar,[Apple],$3.39
1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
3,1,Side of Chips,NaN,$1.69
4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [6]:
a.shape[0]  # Total observations

4622

In [7]:
a.shape[1]  # total features

4

In [8]:
a.dtypes

quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [9]:
# a.info()
a.size  # no. of elements in dataset "a"

18488

### Step 6. What is the number of columns in the dataset?

In [10]:
a.shape[1]

4

### Step 7. Print the name of all the columns.

In [10]:
a.columns

Index(['quantity', 'item_name', 'choice_description', 'item_price'], dtype='object')

In [11]:
col = [i for i in a.columns]
col

['quantity', 'item_name', 'choice_description', 'item_price']

### Step 8. How is the dataset indexed?

In [12]:
a.index

Index([   1,    1,    1,    1,    2,    3,    3,    4,    4,    5,
       ...
       1831, 1831, 1831, 1832, 1832, 1833, 1833, 1834, 1834, 1834],
      dtype='int64', name='order_id', length=4622)

In [13]:
type(a.item_name.index)

pandas.core.indexes.base.Index

### Step 9. Which was the most-ordered item?

In [14]:
b=a.groupby("item_name").agg({"quantity":"sum"})
c=b.sort_values("quantity", ascending=False).reset_index()
# c
# c['item_name'].head(1)
print(c['item_name'][0])
c.head()

Chicken Bowl

             item_name  quantity
0         Chicken Bowl       761
1      Chicken Burrito       591
2  Chips and Guacamole       506
3        Steak Burrito       386
4    Canned Soft Drink       351

In [15]:
a.groupby("item_name").agg({"quantity":"sum"}).sort_values("quantity", ascending=False).head()

                     quantity
item_name
Chicken Bowl              761
Chicken Burrito           591
Chips and Guacamole       506
Steak Burrito             386
Canned Soft Drink         351

In [16]:
a.groupby("item_name").agg({"quantity":"sum"}).sort_values("quantity", ascending=False).reset_index()["item_name"][:5]

0           Chicken Bowl
1        Chicken Burrito
2    Chips and Guacamole
3          Steak Burrito
4      Canned Soft Drink
Name: item_name, dtype: object

In [17]:
a.groupby("item_name").agg({"quantity":"sum"}).sort_values("quantity", ascending=False).reset_index()[-1:-6:-1]

                            item_name  quantity
49                Veggie Crispy Tacos         1
48                     Carnitas Salad         1
47  Chips and Mild Fresh Tomato Salsa         1
46                       Crispy Tacos         2
45                              Salad         2

### Step 10. For the most-ordered item, how many items were ordered?

In [18]:
b=a.groupby("item_name").agg({"quantity":"count"})
c=b.sort_values("quantity", ascending=False).reset_index()
print(c['quantity'][:5])
c.head()

0    726
1    553
2    479
3    368
4    301
Name: quantity, dtype: int64

             item_name  quantity
0         Chicken Bowl       726
1      Chicken Burrito       553
2  Chips and Guacamole       479
3        Steak Burrito       368
4    Canned Soft Drink       301

In [19]:
a.groupby("item_name").agg({"quantity":"count"}).rename(columns={"quantity":"Total_orders"}).sort_values("Total_orders", ascending=False)[:5]

                     Total_orders
item_name
Chicken Bowl                  726
Chicken Burrito               553
Chips and Guacamole           479
Steak Burrito                 368
Canned Soft Drink             301

### Step 11. What was the most ordered item in the choice_description column?

In [20]:
b=a.groupby("choice_description").agg({"quantity":"count"})
c=b.sort_values("quantity", ascending=False).reset_index()
c[:5]

                                  choice_description  quantity
0                                        [Diet Coke]       134
1                                             [Coke]       123
2                                           [Sprite]        77
3  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...        42
4  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...        40

### Step 12. How many items were orderd in total?

In [21]:
a['quantity'].sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [22]:
a.item_price.dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [ ]:
a.item_price=a.item_price.str.slice(1,-1).astype('float')

In [1]:
a.item_price=a.item_price.str.slice(1, -1).astype('float')

NameError: name 'a' is not defined

In [ ]:
# (method) def slice(
#     start: int | None = ...,
#     stop: int | None = ...,
#     step: int | None = ...
# ) -> Series

a['item_price']=a['item_price'].str.slice(1, -1).astype('float')

#### Step 13.c. Check the item price type

In [31]:
a.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [41]:
# sum(a.item_price*a.quantity)
a=a.reset_index()

a['total_revenue']=a['item_price']*a['quantity']

a['total_revenue'].sum()

39237.02

### Step 15. How many orders were made in the period?

In [39]:
a['order_id'].max()

1834

In [52]:
a.order_id.nunique()

1834

In [55]:
# Return a Series containing counts of unique values.
# The resulting object will be in descending order so that the first element is the most frequently-occurring element. 
# Excludes NA values by default.

orders = a.order_id.value_counts()

print(orders.count())

len(orders)

1834

1834

### Step 16. What is the average revenue amount per order?

In [53]:
total_revenue = a['total_revenue'].sum()
total_orders = a['order_id'].nunique()

round(total_revenue/total_orders, 2)

21.39

### Step 17. How many different items are sold?

In [ ]:
# Return number of unique elements in the object.
# Excludes NA values by default.

a.item_name.nunique()

50

In [ ]:
# Return unique values of Series object.
# Uniques are returned in order of appearance. 
# Hash table-based unique, therefore does NOT sort.

a.item_name.unique()

array(['Chips and Fresh Tomato Salsa', 'Izze', 'Nantucket Nectar',
       'Chips and Tomatillo-Green Chili Salsa', 'Chicken Bowl',
       'Side of Chips', 'Steak Burrito', 'Steak Soft Tacos',
       'Chips and Guacamole', 'Chicken Crispy Tacos',
       'Chicken Soft Tacos', 'Chicken Burrito', 'Canned Soda',
       'Barbacoa Burrito', 'Carnitas Burrito', 'Carnitas Bowl',
       'Bottled Water', 'Chips and Tomatillo Green Chili Salsa',
       'Barbacoa Bowl', 'Chips', 'Chicken Salad Bowl', 'Steak Bowl',
       'Barbacoa Soft Tacos', 'Veggie Burrito', 'Veggie Bowl',
       'Steak Crispy Tacos', 'Chips and Tomatillo Red Chili Salsa',
       'Barbacoa Crispy Tacos', 'Veggie Salad Bowl',
       'Chips and Roasted Chili-Corn Salsa',
       'Chips and Roasted Chili Corn Salsa', 'Carnitas Soft Tacos',
       'Chicken Salad', 'Canned Soft Drink', 'Steak Salad Bowl',
       '6 Pack Soft Drink', 'Chips and Tomatillo-Red Chili Salsa', 'Bowl',
       'Burrito', 'Crispy Tacos', 'Carnitas Crispy Tacos', 'Steak Salad',
       'Chips and Mild Fresh Tomato Salsa', 'Veggie Soft Tacos',
       'Carnitas Salad Bowl', 'Barbacoa Salad Bowl', 'Salad',
       'Veggie Crispy Tacos', 'Veggie Salad', 'Carnitas Salad'],
      dtype=object)

In [57]:
a.choice_description.unique()

array([nan, '[Clementine]', '[Apple]', ...,
       '[Roasted Chili Corn Salsa, [Pinto Beans, Sour Cream, Cheese, Lettuce, Guacamole]]',
       '[Tomatillo Green Chili Salsa, [Rice, Black Beans]]',
       '[Tomatillo Green Chili Salsa, [Rice, Fajita Vegetables, Black Beans, Guacamole]]'],
      dtype=object)