# Iris

### Introduction:



### Step 1. Import the necessary libraries

In [19]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset

In [ ]:
pd.read_csv("iris.csv",)

    5.1  3.5  1.4  0.2  Iris-setosa
0   4.9  3.0  1.4  0.2  Iris-setosa
1   4.7  3.2  1.3  0.2  Iris-setosa
2   4.6  3.1  1.5  0.2  Iris-setosa
3     5  3.6  1.4  0.2  Iris-setosa
4   5.4  3.9  1.7  0.4  Iris-setosa
5   4.6  3.4  1.4  0.3  Iris-setosa
6     5  3.4  1.5  0.2  Iris-setosa
7   4.4  2.9  1.4  0.2  Iris-setosa
8   4.9  3.1  1.5  0.1  Iris-setosa
9   5.4  3.7  1.5  0.2  Iris-setosa
10  4.8  3.4  1.6  0.2  Iris-setosa
11  4.8  3.0  1.4  0.1  Iris-setosa
12  4.3  3.0  1.1  0.1  Iris-setosa
13  5.8  4.0  1.2  0.2  Iris-setosa
14  5.7  4.4  1.5  0.4  Iris-setosa
15  5.4  3.9  1.3  0.4  Iris-setosa
16  5.1  3.5  1.4  0.3  Iris-setosa
17  5.7  3.8  1.7  0.3  Iris-setosa
18  5.1  3.8  1.5  0.3  Iris-setosa
19  5.4  3.4  1.7  0.2  Iris-setosa
20  5.1  3.7  1.5  0.4  Iris-setosa
21  4.6  3.6  1.0  0.2  Iris-setosa
22  5.1  3.3  1.7  0.5  Iris-setosa
23  4.8  3.4  1.9  0.2  Iris-setosa
24    5  3.0  1.6  0.2  Iris-setosa
25    5  3.4  1.6  0.4  Iris-setosa
26  5.2  3.5  1.5  0.2  Iris-setosa
27  5.2  3.4  1.4  0.2  Iris-setosa
28  4.7  3.2  1.6  0.2  Iris-setosa
29  4.8  3.1  1.6  0.2  Iris-setosa
30  5.4  3.4  1.5  0.4  Iris-setosa
31  5.2  4.1  1.5  0.1  Iris-setosa
32  5.5  4.2  1.4  0.2  Iris-setosa
33  4.9  3.1  1.5  0.1  Iris-setosa
34    5  3.2  1.2  0.2  Iris-setosa
35  5.5  3.5  1.3  0.2  Iris-setosa
36  4.9  3.1  1.5  0.1  Iris-setosa
37  ...  NaN  NaN  NaN          NaN

### Step 3. Assign it to a variable called iris

In [3]:
iris=pd.read_csv("iris.csv")

In [7]:
iris.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3    5  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

### Step 4. Create columns for the dataset

In [4]:
# 1. sepal_length (in cm)
# 2. sepal_width (in cm)
# 3. petal_length (in cm)
# 4. petal_width (in cm)
# 5. class

iris.columns=['sepal_length (in cm)', 'sepal_width (in cm)', 'petal_length (in cm)', 'petal_width (in cm)', 'class']

In [5]:
iris.tail()

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm),class
33,4.9,3.1,1.5,0.1,Iris-setosa
34,5,3.2,1.2,0.2,Iris-setosa
35,5.5,3.5,1.3,0.2,Iris-setosa
36,4.9,3.1,1.5,0.1,Iris-setosa
37,...,NaN,NaN,NaN,NaN

### Step 5.  Is there any missing value in the dataframe?

In [6]:
iris.isnull().sum()

sepal_length (in cm)    0
sepal_width (in cm)     1
petal_length (in cm)    1
petal_width (in cm)     1
class                   1
dtype: int64

### Step 6.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

In [22]:
iris['petal_length (in cm)'].iloc[10:30]=np.nan

C:\Users\USER\AppData\Local\Temp\ipykernel_7592\3802187968.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  iris['petal_length (in cm)'].iloc[10:30]=np.nan
C:\Users\USER\AppData\Local\Temp\ipykernel_7592\3802187968.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iris['petal_length (in cm)'].iloc[10:30]=np.nan

### Step 7. Good, now lets substitute the NaN values to 1.0

In [25]:
iris.fillna(1.0, inplace=True)

C:\Users\USER\AppData\Local\Temp\ipykernel_7592\2481801776.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  iris.fillna(1.0, inplace=True)

### Step 8. Now let's delete the column class

In [ ]:
iris.drop(columns={"class"}, inplace=True)

iris.head()

### Step 9.  Set the first 3 rows as NaN

In [28]:
iris[:3]=np.nan

iris

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm)
0,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN
3,5,3.6,1.4,0.2
4,5.4,3.9,1.7,0.4
5,4.6,3.4,1.4,0.3
6,5,3.4,1.5,0.2
7,4.4,2.9,1.4,0.2
8,4.9,3.1,1.5,0.1
9,5.4,3.7,1.5,0.2
10,4.8,3.4,1.0,0.2
11,4.8,3.0,1.0,0.1
12,4.3,3.0,1.0,0.1
13,5.8,4.0,1.0,0.2
14,5.7,4.4,1.0,0.4
15,5.4,3.9,1.0,0.4
16,5.1,3.5,1.0,0.3
17,5.7,3.8,1.0,0.3
18,5.1,3.8,1.0,0.3
19,5.4,3.4,1.0,0.2
20,5.1,3.7,1.0,0.4
21,4.6,3.6,1.0,0.2
22,5.1,3.3,1.0,0.5
23,4.8,3.4,1.0,0.2
24,5,3.0,1.0,0.2
25,5,3.4,1.0,0.4
26,5.2,3.5,1.0,0.2
27,5.2,3.4,1.0,0.2
28,4.7,3.2,1.0,0.2
29,4.8,3.1,1.0,0.2
30,5.4,3.4,1.5,0.4
31,5.2,4.1,1.5,0.1
32,5.5,4.2,1.4,0.2
33,4.9,3.1,1.5,0.1
34,5,3.2,1.2,0.2
35,5.5,3.5,1.3,0.2
36,4.9,3.1,1.5,0.1
37,...,1.0,1.0,1.0

### Step 10.  Delete the rows that have NaN

In [29]:
iris.dropna(inplace=True)

In [30]:
iris

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm)
3,5,3.6,1.4,0.2
4,5.4,3.9,1.7,0.4
5,4.6,3.4,1.4,0.3
6,5,3.4,1.5,0.2
7,4.4,2.9,1.4,0.2
8,4.9,3.1,1.5,0.1
9,5.4,3.7,1.5,0.2
10,4.8,3.4,1.0,0.2
11,4.8,3.0,1.0,0.1
12,4.3,3.0,1.0,0.1
13,5.8,4.0,1.0,0.2
14,5.7,4.4,1.0,0.4
15,5.4,3.9,1.0,0.4
16,5.1,3.5,1.0,0.3
17,5.7,3.8,1.0,0.3
18,5.1,3.8,1.0,0.3
19,5.4,3.4,1.0,0.2
20,5.1,3.7,1.0,0.4
21,4.6,3.6,1.0,0.2
22,5.1,3.3,1.0,0.5
23,4.8,3.4,1.0,0.2
24,5,3.0,1.0,0.2
25,5,3.4,1.0,0.4
26,5.2,3.5,1.0,0.2
27,5.2,3.4,1.0,0.2
28,4.7,3.2,1.0,0.2
29,4.8,3.1,1.0,0.2
30,5.4,3.4,1.5,0.4
31,5.2,4.1,1.5,0.1
32,5.5,4.2,1.4,0.2
33,4.9,3.1,1.5,0.1
34,5,3.2,1.2,0.2
35,5.5,3.5,1.3,0.2
36,4.9,3.1,1.5,0.1
37,...,1.0,1.0,1.0

### Step 11. Reset the index so it begins with 0 again

In [37]:
iris.reset_index(inplace=True, drop=True)
# .drop(columns={'index'}, inplace=True)
iris.head()

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm)
0,5,3.6,1.4,0.2
1,5.4,3.9,1.7,0.4
2,4.6,3.4,1.4,0.3
3,5,3.4,1.5,0.2
4,4.4,2.9,1.4,0.2

In [35]:
iris

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm)
0,5,3.6,1.4,0.2
1,5.4,3.9,1.7,0.4
2,4.6,3.4,1.4,0.3
3,5,3.4,1.5,0.2
4,4.4,2.9,1.4,0.2
5,4.9,3.1,1.5,0.1
6,5.4,3.7,1.5,0.2
7,4.8,3.4,1.0,0.2
8,4.8,3.0,1.0,0.1
9,4.3,3.0,1.0,0.1
10,5.8,4.0,1.0,0.2
11,5.7,4.4,1.0,0.4
12,5.4,3.9,1.0,0.4
13,5.1,3.5,1.0,0.3
14,5.7,3.8,1.0,0.3
15,5.1,3.8,1.0,0.3
16,5.4,3.4,1.0,0.2
17,5.1,3.7,1.0,0.4
18,4.6,3.6,1.0,0.2
19,5.1,3.3,1.0,0.5
20,4.8,3.4,1.0,0.2
21,5,3.0,1.0,0.2
22,5,3.4,1.0,0.4
23,5.2,3.5,1.0,0.2
24,5.2,3.4,1.0,0.2
25,4.7,3.2,1.0,0.2
26,4.8,3.1,1.0,0.2
27,5.4,3.4,1.5,0.4
28,5.2,4.1,1.5,0.1
29,5.5,4.2,1.4,0.2
30,4.9,3.1,1.5,0.1
31,5,3.2,1.2,0.2
32,5.5,3.5,1.3,0.2
33,4.9,3.1,1.5,0.1
34,...,1.0,1.0,1.0

### BONUS: Create your own question and answer it.

In [36]:
iris.index

RangeIndex(start=0, stop=35, step=1)